<VirtualHost *:80>
  ServerName ${artifactId}

  ErrorLog logs/${artifactId}-error.log
  CustomLog logs/${artifactId}-access.log common
  ProxyTimeout 600

  <Location / >
    ProxyPass http://localhost:20000/
    ProxyPassReverse http://localhost:20000/
  </Location>
</VirtualHost>
